<%- include ('~header.ejs')%>

    <section class="container">
       <div class="row justify-content-center mt-4">
           <div class="col-md-6">
            <form action="/admin/departments/add" method="POST" class="">
                <legend>Add New Department</legend>
                <div class="flex-col">
                    <label>
                        <span>Department Name</span>
                        <input type="text" name="department" class="form-control">
                    </label>
                    <label>
                        <span>Base Rate</span>
                        <input type="number" name="baseRate" class="form-control" step="0.01"/>
                    </label>
                    <label>
                        <span>Overtime Rate</span>
                        <input type="number" name="overtime" class="form-control" step="0.01">
                    </label>
                    
                </div>
                <div class="mt-4">
                    <button class="btn btn-primary">Create Department</button>
                </div>
            </form>
           </div>
       </div> 
    </section>
<%- include ('~footer.ejs')%>